body{
  background-color: #fdfcfc;
}

/* Navbar */
.navbar{
  background-color: #424874;
}
.nav-link{
  color: #f4eeff;
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 140%;
}

/* Presentación */
.Presentación{
  padding: 6.45% 0 11% 0;
  text-align: center;
}
.big-heading{
  font-family: 'Major Mono Display', monospace;
  font-size: 287.5%;
  color: #424874;
  position: relative;
  top: 140px;
}
.small-heading{
  font-family: 'Unica One', cursive;
  font-size: 175%;
  line-height: .8;
  color: #424874;
  position: relative;
  bottom: 100px;
}
.Space-ship{
  z-index: -1;
}


/* Acerca de mi */
.Acercademi{
  background-color: #eae7f6;
  color: #424874;
  text-align: center;
  padding: 5% 0;
}
.Hola{
  font-family: 'Major Mono Display', monospace;
}
.Daniel{
  font-family: 'Unica One', cursive;
  font-size: 110%;
  width: 50%;
  padding-top: 1.5%;
  margin: auto;
}
.Daniel-1{
  font-family: 'Major Mono Display', monospace;
  font-size: 85%;
  width: 50%;
  padding-top: 1%;
  margin: auto;
}

/* Habilidades */
.Hab{
  text-align: center;
  padding: 7% 0 6.5% 0;
  background-color: #dcd6f7;
  color: #424874;
}
.Habilidad{
  font-family: 'Major Mono Display', monospace;
}
.Habilidad-es{
  font-family: 'Unica One', cursive;
  font-size: 110%;
  margin: auto;
  width: 90%;
}
.feature-box{
  padding: 7%;
}

/* Lo que ofrezco */
.Lo-que-ofrezco{
  background-color: #a6b1e1;
  text-align: center;
  padding: 10.4% 0;
  color: #424874;
}
.Offer{
  font-family: 'Major Mono Display', monospace;
  font-size: 260%;
}
.text-hab{
  font-family: 'Unica One';
  font-size: 130%;
  width: 50%;
  margin: auto;
}

/* Contacto */

.Contact{
  background-color: #657ce4;
  text-align: center;
  padding: 7% 0;
  color: #424874;
}
.Contactame{
    font-family: 'Major Mono Display', monospace;
    font-size: 200%;
    width: 70%;
    margin: auto;
}

/* Responsive */

@media (max-width: 1239px) and (min-width: 992px) {

/* Presentación */
  .big-heading{
    font-size: 260%;
    position: relative;
    top: 140px;
    }
    .small-heading{
    font-size: 170%;
    position: relative;
    bottom: 50px;
    }
    .Space-ship{
      z-index: -1;
      height: 180px;
      position: relative;
      top: 25px;
    }
    .Presentación{
      padding: 10.05% 0 18.5% 0;
    }

  /* Acerca de mi */
    .Acercademi{
      padding: 7.5% 0;
    }

  /* Habilidades */
    .Hab{
      padding: 11.1% 0 10.6% 0;
    }
    .Habilidad{
      font-size: 140%;
    }
    .Habilidad-es{
      font-size: 100%;
      width: 105%;
    }
    .feature-box{
      padding: 8%;
    }

  /* Lo que ofrezco */
    .Lo-que-ofrezco{
      padding: 12% 0 20% 0;
    }
    .Offer{
      font-size: 220%;
    }
    .text-hab{
      font-size: 120%;
      width: 50%;
    }

  /* Contacto */
    .Contact{
      padding: 9% 0;
    }
    .Contactame{
        font-size: 180%;
        width: 70%;
    }
}

@media (max-width: 991px) and (min-width: 725px) {

/* Presentación */
  .big-heading{
    font-size: 240%;
    position: relative;
    top: 125px;
    }
    .small-heading{
    font-size: 140%;
    position: relative;
    bottom: 35px;
    }
    .Space-ship{
      z-index: -1;
      height: 150px;
      position: relative;
      top: 25px;
    }
    .Presentación{
      padding: 17.85% 0 26.3% 0;
    }

  /* Acerca de mi */
  .Acercademi{
    padding: 16% 0;
  }
  .Flotando{
    height: 260px;
  }
  .Daniel{
    font-size: 110%;
    width: 60%;
    padding-top: 1.5%;
  }
  .Daniel-1{
    font-size: 90%;
    width: 70%;
    padding-top: 1%;
  }

  /* Habilidades */
    .Hab{
      padding: 8% 0;
    }
    .Habilidad{
      font-size: 160%;
    }
    .Habilidad-es{
      font-size: 110%;
      width: 50%;
    }
    .feature-box{
      padding: 8.5%;
    }

  /* Lo que ofrezco */
    .Lo-que-ofrezco{
      padding: 12% 0 20% 0;
    }
    .Offer{
      font-size: 180%;
    }
    .text-hab{
      font-size: 105%;
      width: 58%;
    }

  /* Contacto */
    .Contact{
      padding: 13% 0;
    }
    .Boton-Email{
      height: 173px;
    }
    .Contactame{
        font-size: 140%;
        width: 80%;
    }
}

@media (max-width: 724px) and (min-width: 500px) {

/* Presentación */
  .big-heading{
    font-size: 200%;
    position: relative;
    top: 100px;
    }
    .small-heading{
    font-size: 110%;
    position: relative;
    bottom: 16px;
    }
    .Space-ship{
      z-index: -1;
      height: 110px;
      position: relative;
      top: 25px;
    }
    .Presentación{
      padding: 30.85% 0 44.3% 0;
    }

  /* Acerca de mi */
  .Acercademi{
    padding: 21% 0;
  }
  .Flotando{
    height: 240px;
  }
  .Daniel{
    font-size: 100%;
    width: 70%;
    padding-top: 1.5%;
  }
  .Daniel-1{
    font-size: 80%;
    width: 85%;
    padding-top: 2%;
  }

  /* Habilidades */
    .Hab{
      padding: 9% 0;
    }
    .Habilidad{
      font-size: 140%;
    }
    .Habilidad-es{
      font-size: 95%;
      width: 50%;
    }
    .feature-box{
      padding: 8%;
    }

  /* Lo que ofrezco */
    .Lo-que-ofrezco{
      padding: 27% 0 35% 0;
    }
    .Offer{
      font-size: 150%;
    }
    .text-hab{
      font-size: 85%;
      width: 75%;
    }

  /* Contacto */
    .Contact{
      padding: 20% 0;
    }
    .Boton-Email{
      height: 150px;
    }
    .Contactame{
        font-size: 120%;
        width: 89%;
    }
}
